<!DOCTYPE html>
<html>
<head>
    <title>Employees hierarchy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
{% load mptt_tags %}

<!-- Добавляем классы "container" и "my-5" для создания контейнера с отступами -->
<div class="container my-5">
    <!-- Добавляем классы "list-group" и "list-group-flush" для создания списка без рамок и отступов -->
    <ul class="list-group list-group-flush">
        {% recursetree nodes %}
            <!-- Добавляем класс "list-group-item" для создания элементов списка -->
            <li class="list-group-item">
                {{ node.name }} ({{ node.position }})
                <br>
                {% if node.children %}
                    <!-- Добавляем класс "list-group" для создания вложенного списка -->
                    <ul class="list-group">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
</div>